div.main-box{
    height: 100%;
    margin: auto;
    display: grid;
    /*grid-template-columns: 30% 70%;*/
    border: 3px solid #38B9E0;
    border-radius: 10px;
}

/* 채팅방 관련 */
div.chatroom-list{
    width: 100%;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 15px;
}
.chatroom-list::-webkit-scrollbar {
    width: 10px;
}
.chatroom-list::-webkit-scrollbar-thumb {
    background-color: #38B9E0;
    border-radius: 10px;
    border: 1px solid white;
}
.chatroom-list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
span.cm_wdate{
    color: gray;
    float:right;
    margin-right: 20px;
}
li.crlist{
    list-style: none;
    border: 1px solid #38B9E0;
    margin-bottom: 5px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    height: 60px;
    width: 100%;
    min-width: 250px;
    overflow: hidden;
}
li.crlist:hover{
    background-color: #38B9E0;
}
li.crlist_click{
    background-color: #38B9E0;
}
div.msg_sign{
    display: flex;
}
div.cr_msg_box{
    width: 90%;
}
div.read_sign{
    width: 20px;
    height: 20px;
    float:right;
    margin-right: 20px;
    border-radius: 30px;
    border: 3px double white;
}
/*메시지리스트창 */
div.sellect_user{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 30px;
    color: #38B9E0;
    overflow: hidden;
    font-weight: bold;
}
div#chat_message{
    height: 80vh;
    padding-bottom: 10px;
    display: block;
}
div.msg_container{
    height: 100%;
}
div.msg_list_box{
    height: 100%;
    display: grid;
    grid-template-rows: 65px auto 50px;
    grid-template-areas:
        "msg_list_box_top"
        "msg_list"
        "chat-input";
}
div.msg_list_box_top{
    display: flex;
    align-items: center;
    box-shadow : 0 4px 4px -4px gray;
}
span.to_chat_room{
    font-size: 30px;
}
div.uInfoBox{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
div.prf_box{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid #38B9E0;
    background: 50% 50% no-repeat;
    background-size: cover;
}
div.prf_nick{
    font-size: 20px;
}
img.tmp_img{
    width: 50px;
    position: relative;
    left: -10px;
}
div.tmp_circle{
    /*border: 1px solid gray;*/
    width: 12px;
    height: 12px;
    border-radius: 30px;
    position: relative;
    left: -52px;
    top: 14px;
}
div.tmp_rec{
    /*border: 1px solid gray;*/
    width: 4px;
    position: relative;
    left: -70px;
}
div.prf_tmp{
    position: relative;
    left:-60px;
}
div.uinfobox_vline{
    border-left : 3px solid #38B9E0;
    height : 50px;
    position:relative;
    left: -50px;
}
div.spinfo_title{
    position:relative;
    left: -40px;
}
div.spinfo_img{
    position:relative;
    left: -40px;
    width: 50px;
    height: 50px;
    border: 1px solid #38B9E0;
    border-radius: 10px;
    background: 50% 50% no-repeat;
    background-size: cover;
}
div.msg_list{
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}
div.msg_list_only{
    width: 100%;
    height: 100%;
}
.msg_list::-webkit-scrollbar {
    width: 10px;
}
.msg_list::-webkit-scrollbar-thumb {
    background-color: #38B9E0;
    border-radius: 10px;
    border: 1px solid white;
}
.msg_list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}
div.each_msg_box{
    display: block;
    width: 100%;
    min-height: 70px;
}

div.i_msg_box_w_read{
    position: relative;
    right: -65%;
}
div.i_read{
    position: absolute;
    left: -60px;
    bottom: 5px;
    width: 50px;
    text-align: right;
    color: #38B9E0;
}
div.i_msg_box{
    margin-right: 10px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    margin-bottom: 5px;
    width: 30%;
    min-width: 200px;
    background-color: #38B9E0;
    padding: 5px 15px;
    color: white;
}
.i_msg_box:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left:30%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left: 15px solid #38B9E0;
}
div.u_msg_box_w_prf{
    position: relative;
    margin-left: 10px;
}
div.chat_prf_box{
    position: absolute;
    bottom:10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid #38B9E0;
    background: 50% 50% no-repeat;
    background-size: cover;
}
div.u_msg_box{
    margin-left: 65px;
    /*order: 1px solid gray;*/
    border-radius: 15px;
    margin-bottom: 5px;
    width: 30%;
    min-width: 200px;
    padding: 5px 15px;
    background-color: lightgray;

}
.u_msg_box:before {
    margin-left: 65px;
    content: "";
    position: absolute;
    bottom: 20px;
    left: -25px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right: 15px solid lightgray;
}
.chat-img{
    margin-top:5px;
    margin-bottom:5px;
    width: 100px;
    height: 100px;
    background: 50% 50% no-repeat;
    background-size: cover;
    border-radius: 20px;
}
/*메세지 입력 창*/
div.chat-input{
    width: 95%;
    margin-left: 10px;
    padding-top: 1%;
    display: flex;
    position: relative;
    bottom: 0px;
}
button.btn-img{
    height: 30px;
    border: 0px;
    border-radius: 30px;
    background-color: white;
    color: gray;
    display: inline-block;
    position: relative;
    top: 6px;
}
/*.message-input{*/
/*    width: 90%;*/
/*}*/
/*.btn-submit{*/
/*    width: 10%;*/
/*}*/
/*.btn-plus{*/
/*    padding-left: 30px;*/
/*    width: 10%;*/
/*    font-size: 2rem*/
/*}*/
/*form.form-box{*/
/*    width: 90%;*/
/*}*/

/*input[type=text] {*/
/*    width: 80%;*/
/*}*/
