div.msg_list_box_top{
    display: flex;
    align-items: center;
    box-shadow : 0 4px 4px -4px gray;
}
span.to_chat_room{
    font-size: 30px;
    color: #38B9E0;
}
div.uInfoBox{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
div.prf_box{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid #38B9E0;
    background: 50% 50% no-repeat;
    background-size: cover;
}
div.prf_nick{
    font-size: 18px;
}
img.tmp_img{
    width: 50px;
    position: relative;
    left: -10px;
}
div.tmp_circle{
    /*border: 1px solid gray;*/
    width: 12px;
    height: 12px;
    border-radius: 30px;
    position: relative;
    left: -52px;
    top: 14px;
}
div.tmp_rec{
    /*border: 1px solid gray;*/
    width: 4px;
    position: relative;
    left: -70px;
}
div.prf_tmp{
    position: relative;
    left:-60px;
}
div.uinfobox_vline{
    border-left : 3px solid #38B9E0;
    height : 50px;
    position:relative;
    left: -50px;
}
div.spinfo_title{
    position:relative;
    left: -40px;
    height: 30px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
div.spinfo_img{
    position:relative;
    left: -40px;
    width: 50px;
    height: 50px;
    border: 1px solid #38B9E0;
    border-radius: 10px;
    background: 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}