/*메시지리스트창 */
div.sellect_user{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 30px;
    color: #38B9E0;
    overflow: hidden;
    font-weight: bold;
}
div#chat_message{
    height: 80vh;
    padding-bottom: 10px;
    display: block;
}
div.msg_container{
    height: 100%;
    width: 100%;
}
div.msg_list_box{
    height: 100%;
    display: grid;
    grid-template-rows: 65px auto 50px;
    grid-template-areas:
        "msg_list_box_top"
        "msg_list"
        "chat-input";
}
div.msg_list{
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.msg_list::-webkit-scrollbar {
    width: 10px;
}
.msg_list::-webkit-scrollbar-thumb {
    background-color: #38B9E0;
    border-radius: 10px;
    border: 1px solid white;
}
.msg_list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}
/* -------------- loader4 -------------- */

.loader4{
    position: relative;
    width: 150px;
    height: 20px;

    top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);

    background-color: rgba(255,255,255,0.2);
}

.loader4:before{
    content: "";
    position: absolute;
    background-color: #38B9E0;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 0px;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin:  100% 0%;
    transform-origin:  100% 0% ;
    -webkit-animation: loader4 3s ease-in-out infinite;
    animation: loader4 3s ease-in-out infinite;
}

.loader4:after{
    content: "LOADING ...";
    color: #38B9E0;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
}

@-webkit-keyframes loader4{
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0px;}
}

@keyframes loader4{
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0px;}
}
div.each_msg_box{
    display: block;
    width: 100%;
    min-height: 70px;
}

div.i_msg_box_w_read{
    position: relative;
    right: -65%;
}
div.i_read{
    position: absolute;
    left: -60px;
    bottom: 5px;
    width: 50px;
    text-align: right;
    color: #38B9E0;
}
div.i_msg_box{
    margin-right: 10px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    margin-bottom: 5px;
    width: 30%;
    min-width: 200px;
    background-color: #38B9E0;
    padding: 5px 15px;
    color: white;
}
.i_msg_box:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left:30%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left: 15px solid #38B9E0;
}
div.u_msg_box_w_prf{
    position: relative;
    margin-left: 10px;
}
div.chat_prf_box{
    position: absolute;
    bottom:10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid #38B9E0;
    background: 50% 50% no-repeat;
    background-size: cover;
}
div.u_msg_box{
    margin-left: 65px;
    /*order: 1px solid gray;*/
    border-radius: 15px;
    margin-bottom: 5px;
    width: 30%;
    min-width: 200px;
    padding: 5px 15px;
    background-color: lightgray;

}
.u_msg_box:before {
    margin-left: 65px;
    content: "";
    position: absolute;
    bottom: 20px;
    left: -25px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right: 15px solid lightgray;
}
.chat-img{
    margin-top:5px;
    margin-bottom:5px;
    width: 100px;
    height: 100px;
    background: 50% 50% no-repeat;
    background-size: cover;
    border-radius: 20px;
}