div.form_container {
    display: block;
    font-family: "Noto Sans KR";
}
.form_row {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px;
}

.form_row_title {
    flex: 0 0 auto;
    padding: 8px 0px;
    width: 20%;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(41, 41, 41);
    word-break: keep-all;
}

.form-select.error, .form-control.error{
    border-color: #f77;
}
.form-select {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100% !important;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px !important;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
}

.form_empty_msg {
    margin-left: 10px;
    margin-top: 10px !important;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(255, 119, 119);
}
