div.form_container {
    display: block;
    font-family: "Noto Sans KR";
    width: 60%;
    max-width: 1000px;
    margin: auto;
}
.form_box {
    border-radius: 5px !important;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 0px 2px 1px #f6f6f6;
    padding: 3% 3% 3% 5%;
    margin: 5% 0 5% 0;
}
.form_title{
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(41, 41, 41);
    word-break: keep-all;
}
.form_row {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px;
    width: 90%;
    margin: auto;
}

.form_row_title {
    flex: 0 0 auto;
    padding: 8px 0px;
    width: 20%;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(41, 41, 41);
    word-break: keep-all;
}

.form-select.error, .form-control.error{
    border-color: #f77;
}
.form-select {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px !important;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    color: #424242;
}

.form_empty_msg {
    margin-left: 10px;
    margin-top: 10px !important;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(255, 119, 119);
}
/* 사진 추가 영역 css */
/*.css-1wclmit {*/
/*    display: inline;*/
/*}*/
.form_img_box {
    border-radius: 5px !important;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 0px 2px 1px #f6f6f6;
    padding: 3% 3% 3% 5%;
    margin: 5% 0 5% 0;
    height: 250px;
    background-color:#efefef;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.css-1idkie2 {
    font-size: 16px;
    line-height: 24px;
    color: rgb(47, 52, 56);
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.form_bl_button {
    padding: 11px 16px;
    background-color: rgba(33, 38, 41, 0.8);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s;
}
.css-fvirbu {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 0px;
    text-align: center;
    border: none;
}

.form_container .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    visibility: visible;
}
