.tag_ul{
    width: 100%;
}
.tag_li{
    margin: auto;
    list-style: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 3px;
    width: 90%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

img.tag_sp_img{
    width: 60px;
    height: 60px;
    border: 1px solid #35C5F0;
    border-radius: 10px;
    margin-right: 10px;

}
div.tag_sp_title{
    width: 200px;
    height: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tag_btn_div{
    display: flex;
    vertical-align: middle;
}

.tag_btn{
    margin: auto;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #35c5f0;
    border-radius: 4px;
    transition: background-color .1s;
    border: white;
    width: 50px;
    height: 30px;
}
.tag_btn:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tag_detail .tag_sp_title{
    width: 150px;
    height: 80px;
    line-height: 80px;
}

.tag_detail .tag_sp_img{
    width: 80px;
    height: 80px;
}
