.cmt_container{
    margin: 50px auto;
    max-width: 850px;
    padding: 0 16px;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.css-blglsf {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.css-juhhnt {
    position: relative;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
.css-1hlhf3b {
     display: -webkit-inline-flex;
     display: -ms-inline-flexbox;
     display: inline-flex;
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     line-height: 0;
     box-sizing: border-box;
     border: 1px solid #DADDE0;
     border-radius: 4px;
     display: block;
     padding: 0px 16px;
     cursor: text;
     position: relative;
     width: 100%;
 }
.css-vg56 {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    border: 1px solid #35C5F0;
    border-radius: 4px;
    display: block;
    padding: 0px 16px;
    cursor: text;
    position: relative;
    width: 100%;
}
.css-11bu34y {
    word-break: break-word;
    cursor: text;
    display: inline-block;
    margin: 0px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-family: inherit;
    color: rgb(47, 52, 56);
    outline: none;
    font-size: 16px;
    line-height: 24px;
    flex: 1 0 0%;
    min-height: 44px;
    padding: 9px 0px;
    box-sizing: border-box;
    resize: none;
    vertical-align: top;
    overflow: hidden;
    height: 44px;
    min-width: 100px;
}
.css-1ua7n09 {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    border: 1px solid #DADDE0;
    border-radius: 4px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 6px 15px;
    width: 100%;
    padding: 0;
    border: 0;
}
.css-1hlhf3b .mention {
    color: #35C5F0;
    cursor: text;
}
.css-1n3lsph:not(:empty) {
    margin-left: 8px;
}

.css-1n3lsph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    padding: 9px 0;
}
.css-17ydrlm {
    display: inline-block;
    margin: 0px 0px 0px 12px;
    border: none;
    background: none transparent;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: rgb(194, 200, 204);
    flex-shrink: 0;
    padding: 0px;
}
.css-fw3oix {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 8px;
    color: #35C5F0;
    font-weight: 700;
    flex-shrink: 0;
    margin-left: 12px;
    padding: 0;
}
.css-lw9a6t {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(130, 140, 148);
    border: 0px;
    background: none;
}
.css-eayw7z {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.css-ofv0mw {
    font-size: 16px;
    line-height: 24px;
    color: rgb(47, 52, 56);
    overflow-wrap: break-word;
    word-break: keep-all;
    white-space: pre-line;
    margin: 8px 0px;
}
@media (min-width: 768px) {
    .css-1fzkxhd {
        margin-top: 30px;
    }
}
 .css-1fzkxhd {
     margin-top: 24px;
 }
.css-ame6mi {
    padding-left: 42px;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.css-50jqym {
    position: absolute;
    top: 0px;
    left: -42px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.css-f9yozn {
    padding: 1px 10px 10px 30px;
    margin-top: 10px;
    border-radius: 4px;
    background: rgb(247, 249, 250);
}
.css-nltycz {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
}
.css-50jqym {
    position: absolute;
    top: 0px;
    left: -42px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.css-1iaw8mx {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-right: 12px;
    border-radius: 100%;
}