.footer{
    height: 100%;
    /*margin-top: auto;*/
    bottom: 0;
    background-color: #F7F9FA;
    border-top: 1px solid #EAEDEF;
}
.contents{
    width: 70%;
    min-width: 1000px;
    /*max-width: 1000px;*/
    /*height: 100%;*/
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.title{
    /*text-align: center;*/
}