.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #EAEDEF;
}
*{
    font-family: Noto Sans KR;
}

ul.menu{
    list-style: none;
    /*width: 70%;*/
    /*min-width: 1000px;*/
}
.menu_left{
}
.menu_right{
}
ul.menu li{
    float: left;
    width: 80px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    /*margin-right: 1.5%;*/
    /*margin-left: 1.5%;*/
}

ul.menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

ul.menu li a:hover{
    color: #35c5f0;
}
ul.menu div.search_bar{
    display: flex;
    float: left;
    /*width: 20%;*/
    margin-top: 25px;
    height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
}
.btn_search_bar{
    height: 50px;
    background-color: white;
    color: #35c5f0;
    border: white;
}
.scroll__container{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
}
.profilehover:hover{
    border: 2px solid #35c5f0;
}

div.loginavt{
    display: flex;
    /*width: 50%;*/
    line-height: 100px;
    /*gap: 10px;*/
    align-items: center;
    /*float: right;*/
    /*justify-content: right;*/
    font-size: 1.1em;
}
.insertformbtn:hover{
    background-color: red;
}
.ziptalk:hover {
    transform: scale(1.1);
    color: #35c5f0;
}
.totalsearch:focus {
    /*color: #212529;*/
    /*background-color: #fff;*/
    border-color: #35C5F0;
    /*outline: 0;*/
    box-shadow: none;
}
/*#top{*/
/*    font-weight: bold;*/
/*    font-size: 15px;*/
/*    padding :15px 10px;*/
/*    background-color: #000;*/
/*    color:#fff;*/
/*    border: 1px solid rgb(210, 204, 193);*/
/*    border-radius: 50%;*/
/*    outline: none;*/
/*}*/

/*반응형*/
/*폭클경우*/
@media screen and (min-width: 768px) {
    .header {
        height: 100px;
    }
    ul.menu{
        width: 90%;
        margin: auto;
        max-width: 1136px;
        display: grid;
        grid-template-columns: 600px 500px;
    }
    .menu_left{
        justify-content: space-around;
    }
    .menu_right{
        float: right;
    }

}

/*폭작을경우*/
@media screen and (max-width: 768px) {
    .header {
        height: 100px;
    }
    ul.menu{
        width: 90%;
        margin: auto;
        max-width: 1136px;
        display: grid;
        grid-template-columns: 600px 500px;
    }

}
/*폰*/
@media screen and (max-width: 375px) {
    .header {
        height: 200px;
    }
    ul.menu{
        width: 95%;
        margin: auto;
        max-width: 375px;
        display: grid;
        grid-template-rows: 100px 100px;
    }

}