@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section.hmbx{
    height: 500px;
}
.home_box{
    background-color: #D4E4F2;
    border-radius: 20px;
}
.home_box2{
    background-color: #E8C47E;
    border-radius: 20px;
}
.home_box3{
    background-color: #C5E1DE;
    border-radius: 20px;
}
.home_box4{
    background-color: #F8FEB5;
    border-radius: 20px;
}
.home_box5{
    background-color: #FBB9AB;
    border-radius: 20px;
}
.maintxt {
    position: relative;
    float: right;
    right: 10%;
    top: 170px;
}
/*.animation {*/
/*    font-size: 4em;*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    height: 100px;*/
/*    margin: auto;*/
/*    display: block;*/

/*    -webkit-animation: bounce .3s ease infinite alternate;*/

/*    text-align: center;*/
/*    line-height: 100px;*/
/*    text-shadow: 0 1px 0 #CCC,*/
/*    0 2px 0 #CCC,*/
/*    0 3px 0 #CCC,*/
/*    0 4px 0 #CCC,*/
/*    0 5px 0 #CCC,*/
/*    0 6px 0 transparent,*/
/*    0 7px 0 transparent,*/
/*    0 8px 0 transparent,*/
/*    0 9px 0 transparent,*/
/*    0 10px 10px rgba(0, 0, 0, .6);*/
/*}*/

/*@keyframes bounce {*/
/*    100% {*/
/*        top: -30px;*/
/*        text-shadow: 0 1px 0 #CCC,*/
/*        0 2px 0 #CCC,*/
/*        0 3px 0 #CCC,*/
/*        0 4px 0 #CCC,*/
/*        0 5px 0 #CCC,*/
/*        0 6px 0 #CCC,*/
/*        0 7px 0 #CCC,*/
/*        0 8px 0 #CCC,*/
/*        0 9px 0 #CCC,*/
/*        0 30px 30px rgba(0, 0, 0, .3);*/
/*    }*/
/*}*/

h2 {
    position: relative;
    text-align: center;
    top: -670px;
}

h2 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Jal_Onuel';
    font-size: 70px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

/*h2 span:nth-child(2) { animation-delay: .1s; }*/
/*h2 span:nth-child(3) { animation-delay: .2s; }*/
/*h2 span:nth-child(4) { animation-delay: .3s; }*/
/*h2 span:nth-child(5) { animation-delay: .4s; }*/
/*h2 span:nth-child(6) { animation-delay: .5s; }*/
/*h2 span:nth-child(7) { animation-delay: .6s; }*/
/*h2 span:nth-child(8) { animation-delay: .7s; }*/

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: black !important;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: black !important;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

