/*메인, 집들이 리스트, 스토어 리스트, 채팅 메인, 마이페이지, 프로필*/
.list_container{
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 120px);
    max-width: 1256px;
    min-width: 400px;
    box-sizing: border-box;
    min-height: 1px;
}
.detail_container{
    margin: 0 auto;
    max-width: 750px;
    padding: 0 16px;
    box-sizing: border-box;
}