*{
    font-family: Noto Sans KR;
}

ul.menu{
    list-style: none;
}

ul.menu li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
}

ul.menu li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul.menu li:hover{
    background-color: rgb(161, 205, 216);
    box-shadow: 5px 5px 5px lightgray;

}

ul.menu li a:hover{
    color: aliceblue;
}

.scroll__container{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
}
.profilehover:hover{
    border-color: #38B9E0;
    border-style: solid;
}
/*#top{*/
/*    font-weight: bold;*/
/*    font-size: 15px;*/
/*    padding :15px 10px;*/
/*    background-color: #000;*/
/*    color:#fff;*/
/*    border: 1px solid rgb(210, 204, 193);*/
/*    border-radius: 50%;*/
/*    outline: none;*/
/*}*/