*{
    font-family: Noto Sans KR;
}

ul.menu{
    list-style: none;
}

ul.menu li{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
}

ul.menu li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul.menu li:hover{
    background-color: rgb(161, 205, 216);
    box-shadow: 5px 5px 5px lightgray;

}

ul.menu li a:hover{
    color: aliceblue;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}