div.mypage_otr_container{
    width:100%;
    max-width:1136px;
    margin:auto;
}
div.mypage_container{
    display: grid;

}
/*프로필*/
div.mypage_prf_box{
    padding: 10px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 100%;
}
div.mypage_prf_img_box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid gray;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
img.mypage_prf_img{
    width: 100%;
}
div.mypage_prf_nick{
    font-size: 30px;
    text-align: center;
}

/*후기리스트*/
.mypage_ul{
    width: 100%;
}
.mypage_li{
    list-style: none;
    margin-bottom: 10px;
    border: 1px solid #35C5F0;
    border-radius: 10px;
    padding: 3px;
    width: 70%;
    position: relative;
}

img.mypage_sp_img{
    width: 50px;
    height: 50px;
    border: 1px solid #35C5F0;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
div.mypage_sp_title{
    height: 50px;
    line-height: 50px;
}
.mypage_btn{
    width: 150px;
    color: #35C5F0;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}
.mypage_btn:hover {
    background-color: #35C5F0;
    color: white;
}
/*반응형*/
@media screen and (min-width: 768px) {
    div.mypage_container{
        grid-template-columns: 30% 70%;
    }
    div.mypage_prf_box{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    div.mypage_container{
        grid-template-rows: 200px 1fr;
    }
    div.mypage_prf_box{
        width: 100%;
    }
}