

table tr th {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

@media all and (max-width: 320px) {
    .membersajin{
        position: absolute;
        left: 200px;
        top:50px;
        width: 100px;
        height: 100px;
    }


}
/*@media all and (min-width: 321px) and (max-width: 768px) {*/
/*    .membersajin{*/
/*        position: absolute;*/
/*        left: 300px;*/
/*        top: 150px;*/
/*        width: 200px;*/
/*        height: 200px;*/
/*    }*/


/*}*/
/*@media all and (min-width: 769px) {*/
/*    .membersajin{*/
/*        position: absolute;*/
/*        left: 500px;*/
/*        top: 150px;*/
/*        width: 200px;*/
/*        height: 200px;*/
/*    }*/
/*}*/
