.search_box{
    width:95%;
    max-width:1136px;
    margin:auto;
}
.search_more{
    float: right;
    margin-right: 6%;
    color: #35c5f0;
}
/*프로필*/
.search_prf_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.search_prf_img_box{
    line-height: 25px;
    /*width: 25px;*/
    /*height: 25px;*/
    /*overflow: hidden;*/
    /*border-radius: 100px;*/
    /*border: 1px solid #35c5f0;*/
    /*box-shadow: rgba(53, 197, 240, 0.5) 0 0 0 3px;*/
}
img.search_prf_img{
    background-color: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}
div.search_prf_nick{
    height: 25px;
    margin-left: 10px;
    text-align: center;
}

.list_show{
    display: block;
}
.list_hide{
    display: none;
}
.search_title{
    font-size: 20px;
    font-weight: bold;
    margin-left:10px ;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

/*리스트 이미지카드형*/
.search_ul_card{
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.search_li_card{
    margin-bottom: 10px;
    /*border: 1px solid #35C5F0;*/
    border-radius: 10px;
    padding: 3px;
    overflow: hidden;
    margin-right: 1%;
}
.search_li_card:hover{
    transform: scale(1.05);
}
.card_show{
    display: block;
}
.card_hide{
    display: none;
}

img.search_sp_img_card{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.search_fd_title_card{
    margin-left: 10px;
    text-align: center;
    width: calc(90% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}
.search_sp_title_card{
    margin-left: 10px;
    text-align: center;
    width: calc(90% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.search_pd_status_card{
    width: 100%;
    height: 30px;
    color: #35C5F0;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
/*리스트 목록형*/
.search_ul{
    margin-left: 10px;
    width: 100%;
}
.search_li{
    list-style: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 3px;
    width: 90%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.search_li:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
img.search_sp_img{
    width: 50px;
    height: 50px;
    border: 1px solid #35C5F0;
    border-radius: 10px;
    margin-right: 10px;

}
div.search_sp_title{
    height: 50px;
}
.search_pd_status{
    width: 100px;
    color: #35C5F0;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    text-align: right;
}
/*반응형*/
@media screen and (min-width: 768px) {
    .search_li_card{
        width: 23%;
        height: 30%;
    }
}
@media screen and (max-width: 768px) {
    .search_li_card{
        width: 47%;
        height: 47%;
    }
}