input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

figure.photos{
    float: left;
    margin-right: 5px;
}

.imageclose{
    position: relative;
    top:-80px;
    left:55px;
    cursor: pointer;
}