input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

figure.photos{
    float: left;
    margin-right: 5px;
}

.imageclose{
    position: relative;
    top:-80px;
    left:55px;
    cursor: pointer;
}

.firstimage{
    color: white;
    position: relative;
    top:-50px;
    left: 3px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}


.list-title{ /*제목이 너무 길때 ...으로 대처*/
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 130px;
}
.soldouttxt{
    font-size: large;
    color: white;
    /*position: relative;*/
    /*top: -120px;*/
    /*left: 38%;*/
    position: absolute;
    margin-left: 100px;
    margin-top: -120px;
    /*margin-left: 5.5%;*/
    /*margin-top: -6%;*/
}
.page{
    text-align: center;
}
.pagenum{
    margin: 0.5%;
    /*z-index: 1;*/
    /*display:block;*/
    /*float:left;*/
    /*border:1px solid #e6e6e6;*/
    /*border-radius: 100%;*/
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    background-color:#fff;
    font-size:25px;
    color:#999999;
    text-decoration:none;
}
CardMedia:hover{ /*외않되?*/
    transform: scale(0.5); /* 이미지 확대 */
    transition: transform .5s; /* 시간 설정 */
}
Card:hover {/*외않되?*/
    transform: scale(1.05);
}
.txtfield:focus{
    color: #212529;
    background-color: #fff;
    border-color: #35C5F0;
    outline: 0;
    box-shadow: none;
}

