img.tmp_img{
    width: 50px;
    height: 50px;
    position: relative;
    left: -15px;
}
div.tmp_circle{
    /*border: 1px solid gray;*/
    width: 12px;
    height: 12px;
    border-radius: 30px;
    position: relative;
    left: -47px;
    top: 33px;
}
div.tmp_rec{
    /*border: 1px solid gray;*/
    width: 4px;
    position: relative;
    left: -55px;
}
div.prf_tmp{
    position: relative;
    left:-45px;
    top:10px;
}